<mat-card class="paper-card" [ngClass]="{ 'dark-theme': isDarkMode, 'light-theme': !isDarkMode }" appearance="outlined">
  <div class="header">
    <div class="left">
      <h3 matLine>📘 {{ paperCard.paper.name }}</h3>
      <div class="meta">
        💛 {{ favoritesCount }} favoritos &nbsp; 📝 {{ annotationsCount }} anotações
      </div>
    </div>

    <div class="right">
      <button mat-stroked-button color="primary" (click)="continueReading()">📖 Continuar lendo</button>
      <div class="progress">{{ completedCount }} / {{ totalChapters }}</div>
    </div>
  </div>

  <div class="progress-bar">
    <div
      *ngFor="let ch of paperCard.chapterList"
      [ngClass]="{
        'block': true,
        'read': ch.completed,
        'favorite': ch.favorite
      }"
      [matTooltip]="ch.title"
    ></div>
  </div>

  <div class="expand-toggle" (click)="toggleExpand()">
    <button mat-button>
      <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      <span id="toggleLabel">{{ expandLabel }}</span>
    </button>
  </div>

  <div [@expandCollapse]="expanded ? 'expanded' : 'collapsed'" class="chapter-list mat-elevation-z1">
    <mat-divider></mat-divider>
    <div *ngFor="let ch of paperCard.chapterList" class="chapter-item" [ngClass]="{ 'completed': ch.completed }">
      <span>

        <mat-icon matTooltip="{{ ch.completed ? 'Completo' : 'Não lido' }}">
          {{ ch.completed ? 'check_box' : 'check_box_outline_blank' }}
        </mat-icon>
        
        <span class="chapter-title">{{ ch.title }}</span>
        
        <mat-icon *ngIf="ch.favorite" matTooltip="Favorito" style="color: gold;">star</mat-icon>
        
        <span *ngIf="ch.annotations?.length">
          <mat-icon inline matTooltip="{{ ch.annotations?.length }} anotações">notes</mat-icon>
          ({{ ch.annotations?.length }})
        </span>
      </span>

      <button mat-icon-button [matMenuTriggerFor]="chapterMenu" matTooltip="Mais opções" (click)="currentChapter = ch">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #chapterMenu="matMenu">
    <button mat-menu-item (click)="onViewDetails(currentChapter)">
      <mat-icon>info</mat-icon>
      <span>Chapter Details</span>
    </button>
    <button mat-menu-item (click)="onReadChapter(currentChapter)">
      <mat-icon>menu_book</mat-icon>
      <span>Read Chapter</span>
    </button>
  </mat-menu>
</mat-card>
