<footer class="footer">
    
    <div>
        <div class="footerHeader">
            <div>

                <h1>Lets Talk</h1>
                <p><a href = "mailto: gabriel.p1997@yahoo.com">Email</a></p>
                
            </div>
            <div>
                <h1>links</h1>
                <p><a target="blank" href="assets/pdf/GabrielOliveira.pdf">resume</a></p>
                <p><a routerLink="/work">work</a> </p>
            </div>
        </div>
        <div class="footerBottom">
            <p>© Gabriel Pastor Oliveira 2024</p>
            <div>
                <span><a href="https://www.linkedin.com/in/gabrielp-oliveira/" target="_blank">Linkedin</a></span>
                <span><a href="https://github.com/gabrielp-oliveira" target="_blank">GitHub</a></span>
            </div>
        </div>
    </div>
</footer>