<div class="paper-card" [class.dark]="isDarkMode">

  <!-- Top row: cover + main info -->
  <div class="pc-top">

    <!-- Cover -->
    <div class="pc-cover-wrap">
      <img class="pc-cover"
           [src]="(paperCard.paper.cover_url || DEFAULT_COVER) | cloudinary:130:195"
           [srcset]="((paperCard.paper.cover_url || DEFAULT_COVER) | cloudinary:130:195) + ' 1x, '
                   + ((paperCard.paper.cover_url || DEFAULT_COVER) | cloudinary:260:390) + ' 2x'"
           [alt]="paperCard.paper.name"
           width="130" height="195"
           loading="lazy" decoding="async" />
      <div class="pc-cover-prog" *ngIf="totalChapters > 0">
        <div class="pc-cover-fill" [style.height.%]="(completedCount / totalChapters) * 100"></div>
      </div>
    </div>

    <!-- Info column -->
    <div class="pc-body">
      <h3 class="pc-title">{{ paperCard.paper.name | truncate:30 }}</h3>

      <p class="pc-author" *ngIf="paperCard.paper.author_name">
        <mat-icon>person</mat-icon> {{ paperCard.paper.author_name }}
      </p>

      <p class="pc-desc" *ngIf="paperCard.paper.description">{{ paperCard.paper.description }}</p>

      <div class="pc-meta-row">
        <span class="pc-meta" *ngIf="favoritesCount > 0">
          <mat-icon>star</mat-icon> {{ favoritesCount }}
        </span>
        <span class="pc-meta" *ngIf="annotationsCount > 0">
          <mat-icon>edit_note</mat-icon> {{ annotationsCount }}
        </span>
        <span class="pc-meta pc-meta--prog">
          <mat-icon>check_circle_outline</mat-icon>
          {{ completedCount }}/{{ totalChapters }}
        </span>
      </div>

      <!-- Chapter dot bar -->
      <div class="pc-dot-bar">
        <div class="pc-dot"
             *ngFor="let ch of paperCard.chapterList"
             [class.pc-dot--done]="ch.completed && !ch.favorite"
             [class.pc-dot--fav]="ch.favorite"
             [matTooltip]="ch.title">
        </div>
      </div>

      <!-- Actions -->
      <div class="pc-actions">
        <button class="btn-continue" (click)="continueReading()">
          <mat-icon>play_arrow</mat-icon> Continue
        </button>
        <button class="btn-expand" (click)="toggleExpand()">
          <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
          {{ expanded ? 'Hide' : 'Chapters' }}
        </button>
      </div>
    </div>
  </div>

  <!-- Expandable chapter list -->
  <div [@expandCollapse]="expanded ? 'expanded' : 'collapsed'" class="pc-chapter-list">
    <div class="pcl-inner">
      <div class="pcl-item"
           *ngFor="let ch of paperCard.chapterList"
           [class.pcl-item--done]="ch.completed">

        <mat-icon class="pcl-icon pcl-icon--done"  *ngIf="ch.completed && !ch.favorite">check_circle</mat-icon>
        <mat-icon class="pcl-icon pcl-icon--fav"   *ngIf="ch.favorite">star</mat-icon>
        <mat-icon class="pcl-icon pcl-icon--blank" *ngIf="!ch.completed && !ch.favorite">radio_button_unchecked</mat-icon>

        <span class="pcl-title">{{ ch.title | truncate:28 }}</span>

        <span class="pcl-notes" *ngIf="ch.annotations?.length">
          <mat-icon>edit_note</mat-icon> {{ ch.annotations?.length }}
        </span>

        <button mat-icon-button class="pcl-more"
                [matMenuTriggerFor]="chMenu"
                (click)="currentChapter = ch">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>

    <mat-menu #chMenu="matMenu">
      <button mat-menu-item (click)="onViewDetails(currentChapter)">
        <mat-icon>info</mat-icon> Details
      </button>
      <button mat-menu-item (click)="onReadChapter(currentChapter)">
        <mat-icon>menu_book</mat-icon> Read
      </button>
    </mat-menu>
  </div>

</div>
