<!-- Quando default = false → usa settings$ -->
<ng-container *ngIf="!default; else defaultHeader">
  <ng-container *ngIf="settings$ | async as settings">
    <header class="header" [class.dark]="settings.theme">
      <div class="header-group">
        <button class="btn-flat" (click)="GoTo('/')">
          <img [src]="!settings.theme ? 'assets/homeDarkIcon.png' : 'assets/homeLightIcon.png'" alt="Home"
            class="home-icon" />
        </button>
      </div>

      <div class="header-group middle-group">
        <button class="btn-flat" (click)="GoTo('/store')">
          <mat-icon>shopping_cart</mat-icon>
          <span>Store</span>
        </button>
        <button class="btn-flat" (click)="GoTo('/library')">
          <mat-icon>library_books</mat-icon>
          <span>Biblioteca</span>
        </button>
        <button class="btn-flat" (click)="shareStore()">
          <mat-icon>share</mat-icon>
          <span>Compartilhar</span>
        </button>
      </div>

      <div class="header-group">
        <button class="btn-flat" (click)="toggleTheme(settings)">
          <mat-icon>
            {{ settings.theme ? 'contrast' : 'brightness_6' }}
          </mat-icon>
          <span>Modo</span>
        </button>

        <!-- Menu do usuário sempre visível -->
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="btn-flat">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <ng-container *ngIf="isLogged; else loginOption">
            <button mat-menu-item (click)="GoTo('/profile')">
              <mat-icon>person</mat-icon>
              <span>Perfil</span>
            </button>
            <button mat-menu-item (click)="GoTo('/wishlist')">
              <mat-icon>favorite</mat-icon>
              <span>Wishlist</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Sair</span>
            </button>
          </ng-container>

          <ng-template #loginOption>
            <button mat-menu-item (click)="GoTo('/login')">
              <mat-icon>login</mat-icon>
              <span>Entrar</span>
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </header>
  </ng-container>
</ng-container>

<!-- Quando default = true → tema claro fixo, sem settings nem toggle -->
<ng-template #defaultHeader>
  <header class="header">
    <div class="header-group">
      <button class="btn-flat" (click)="GoTo('/')">
        <img src="assets/homeLightIcon.png" alt="Home" class="home-icon" />
      </button>
    </div>

    <div class="header-group middle-group">
      <button class="btn-flat" (click)="GoTo('/store')">
        <mat-icon>shopping_cart</mat-icon>
        <span>Store</span>
      </button>
      <button class="btn-flat" (click)="GoTo('/library')">
        <mat-icon>library_books</mat-icon>
        <span>Biblioteca</span>
      </button>
      <button class="btn-flat" (click)="shareStore()">
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>
    </div>

    <div class="header-group">
      <!-- ❌ Sem toggle de tema -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="btn-flat">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <ng-container *ngIf="isLogged; else loginOptionDefault">
          <button mat-menu-item (click)="navigateIfLogged('/profile')">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="navigateIfLogged('/wishlist')">
            <mat-icon>favorite</mat-icon>
            <span>Wishlist</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>log out</mat-icon>
            <span>log out</span>
          </button>
        </ng-container>

        <ng-template #loginOptionDefault>
          <button mat-menu-item (click)="GoTo('/login')">
            <mat-icon>login</mat-icon>
            <span>sign in</span>
          </button>
          <button mat-menu-item (click)="GoTo('/signup')">
            <mat-icon>signup</mat-icon>
            <span>sign up</span>
          </button>
        </ng-template>
      </mat-menu>

    </div>
  </header>
</ng-template>