<mat-card class="book-card">
  <div class="cover-wrapper">
          <div class="isAvailable" *ngIf="book.status !== 'available'"><span>{{book.status.replace("_", " ")}}</span></div>
    <img [src]="(book.cover_url || DEFAULT_COVER) | cloudinary:200:300"
         [srcset]="((book.cover_url || DEFAULT_COVER) | cloudinary:200:300) + ' 1x, ' + ((book.cover_url || DEFAULT_COVER) | cloudinary:400:600) + ' 2x'"
         [alt]="book.name" class="paper-img"
         width="200" height="300" loading="lazy" decoding="async" />
  </div>

  <div class="book-info">
    <h3 class="book-title">{{ book.name }}</h3>
    <p class="book-author">{{ book.author_name }}</p>

    <p
      class="book-genre"
      *ngIf="book.genre?.length; else emptyGenre"
    >
      {{ book.genre }}
    </p>
    <ng-template #emptyGenre>
      <p class="book-genre">&nbsp;</p>
    </ng-template>

    <p
      class="book-maturity"
      [ngClass]="{ mature: book.maturity === 'MATURE' }"
    >
      {{ book.maturity || ' ' }}
      
    </p>
  </div>

  <p class="book-price" *ngIf="book.status == 'available'">{{book.price}}</p>

  <button mat-raised-button color="primary" class="buy-button" (click)="goToBookPage()">
    Details
  </button>
</mat-card>
