.dark-mode {
  background-color: #1e1e1e;
  color: #f4f4f4;

  mat-form-field {
    background-color: #2a2a2a;
  }

  .mat-header-cell, .mat-cell {
    background-color: #2b2b2b;
    color: #f4f4f4;
  }

  input {
    background-color: #333 !important;
    color: #f4f4f4 !important;
  }

  mat-icon {
    color: #f4f4f4;
  }
}

.light-mode {
  background-color: #ffffff;
  color: #222;

  mat-form-field {
    background-color: #f8f8f8;
  }

  .mat-header-cell, .mat-cell {
    background-color: #ffffff;
    color: #222;
  }

  input {
    background-color: #fff !important;
    color: #222 !important;
  }

  mat-icon {
    color: #222;
  }
}

.light-label {
    color: black;
}
.dark-label {
    color: white;

}