<div [class.dark]="(wd.settings$ | async)?.theme">
  <app-header></app-header>
  <app-top-panel></app-top-panel>

  <div class="iframe-container">
    <iframe id="board-frame" src="assets/board/index.html" style="width: 100%; max-height: 700px; height: 100%;  min-height: 500px; border: none;">
    </iframe>
  </div>

  <div>
    <div class="paper-cards-wrapper">
      <app-paper-card *ngFor="let card of paperCardList" [paperCard]="card"></app-paper-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>
