<div *ngIf="world$ | async as world">
  <div>

    <p>world component works!</p>
    <h1>{{ world.name }}</h1>
    <p>ID: {{ world.id }}</p>
    <p>Created At: {{ world.created_at }}</p>
  </div>
  <button mat-raised-button (click)="callCreatePaperDialog('150ms', '150ms')">Create new paper</button>

  <ul class="papperList">
    paper list
    <br>
    <li *ngFor="let paper of papers$">
      <span [ngStyle]="papperBackgroundColor(paper)" (mouseenter)="hoverPappeer(paper)" (mouseleave)="hoverPappeer(paper)">
        <span>

          {{ paper.name }} - {{ paper.description }}
          <button (click)="updatePaper(paper.id)">Update</button>
        </span>
      </span>
    </li>

  </ul>
  <ul class="chapterList">
    chapter list
    <br>
    <li *ngFor="let chapter of chapters$">
      <span [ngStyle]="chapterBackgroundColor(chapter)"  (mouseenter)="hooverChapter(chapter)" (mouseleave)="hooverChapter(chapter)">
        {{ chapter.name }} - {{ chapter.description }}
        <button (click)="openChapter(world.id, chapter.id)">Open</button>
        <button (click)="updateChapter(chapter.id)">update</button>
      </span>
    </li>

  </ul>
  <br>
  <br>
  <button mat-raised-button (click)="callCreteChapterDialog('150ms', '150ms')">Create new chapter</button>
</div>

<div class="buttonns">
  <button (click)="createStoryline()">Create Story line</button>
  <button (click)="createTimeline()">Create Timeline</button>
</div>

<app-subway></app-subway>
<button (click)="createEvents()">Create Events</button>