<app-loading *ngIf="showLoading | async"></app-loading>

<nav class="worldNav">
  <h1 (click)="sidenav.toggle()">Welcome</h1>
  <button mat-button type="button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

</nav>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="" position="end" class="worldSlide sidenav-fixed">
    <mat-nav-list>
      <h3 style="margin-top: 50px; margin-left: 15px; font-weight: 700;">World <u>{{worldData?.name}}</u> created at {{worldData?.created_at | date: 'MMM d, y'}}</h3>
      <div class="creationButtons">
        <button mat-button (click)="createStoryline()">
          <mat-icon>add_road</mat-icon>
          <span>Create Story line</span>
          <app-storyline-info></app-storyline-info>
        </button>
        <button mat-button (click)="createTimeline()">
          <mat-icon>calendar_month</mat-icon>
          <span>Create Timeline</span>
          <app-timeline-info></app-timeline-info>
        </button>
        <button mat-button (click)="openCreateGroup()">
          <mat-icon>timeline</mat-icon>
          <span>Create Connection Group</span>
          <app-connectionGroup-info></app-connectionGroup-info>
        </button>
        <button mat-button (click)="createEvents()">
          <mat-icon>theater_comedy</mat-icon>
          <span>Create Events</span>
          <app-event-info></app-event-info>
         </button>
      </div>
      <hr>
      <div class="SlideAccordion">
        <mat-accordion class="accordion">
          <mat-expansion-panel (opened)="panelSSOpenState = true" (closed)="panelSSOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Subway Settings
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="accordion-info">
              <app-subwaySettingsDialog></app-subwaySettingsDialog>
            </div>



          </mat-expansion-panel>
        </mat-accordion>

        <app-group-connection></app-group-connection>


      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden;" style="padding: 10px;">
    <div class="content">
      <app-subway></app-subway>
    </div>
    <div class="tables">

      <app-chapter></app-chapter>
      <app-papper></app-papper>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>






<!-- <app-group-connection></app-group-connection> -->


<div>


  <div class="tables">
  </div>
</div>

<footer style="height: 500px;">
  footer
</footer>