<app-ads></app-ads>

<div class="universe-container" *ngIf="universeData">
  <div class="universe-header">
    <div class="left-info">
      <div class="header-row">
        <h1>{{ universeData.name }}</h1>

        <button *ngIf="booksAvailable > 0" class="buy-button"
          [routerLink]="['/store/universe', universeData.id, 'checkout']" >
          <span class="icon">💳</span>
          Buy collection ({{ booksAvailable}} book{{ booksAvailable > 1 ? 's' : '' }}) for
          {{ (universePrice) | currency: priceCurrencysePrice : 'symbol-narrow' : '1.2-2' }}
        </button>
      </div>

      <p class="description">{{ universeData.description }}</p>

      <div class="meta">
        <span *ngIf="universeData.papers[0]?.language">
          🌍 Language: {{ universeData.papers[0].language.toUpperCase() }}
        </span>

        <span *ngIf="universeData.Genres?.length">
          🎭 Genre: {{ universeData.Genres.join(', ') }}
        </span>

        <span *ngIf="universeData.papers.length">
          📚 Books: {{ universeData.papers.length }}
        </span>
      </div>
    </div>

    <div class="cover-wrapper" *ngIf="universeData.CoverURLs?.[0]">
      <img [src]="optimizeImage(universeData.CoverURLs[0] || DEFAULT_COVER)" alt="Capa do universo"
        class="universe-cover" />
    </div>
  </div>

  <div class="books-section">
    <div class="books-grid">
      <a class="book-card" *ngFor="let book of universeData.papers" [routerLink]="['/store/book', book.id]">


        <div class="cover-wrapper">
          <div class="isAvailable" *ngIf="book.status !== 'available'"><span>{{book.status.replace("_", " ")}}</span></div>

          <img [src]="optimizeImage(book.cover_url || DEFAULT_COVER)" alt="{{ book.name }}" class="book-cover cover" />
        </div>


        <h3>{{ book.name }}</h3>
        <div class="author">{{ book.author_name }}</div>

        <div class="book-meta">
          <span *ngIf="book.year">📅 Year: {{ book.year }}</span>
          <span *ngIf="book.language">🌍 {{ book.language.toUpperCase() }}</span>
          <br />
          <span *ngIf="book.maturity">
            🔞 {{ book.maturity === 'NOT_MATURE' ? 'not mature' : 'mature' }}
          </span>
        </div>
      </a>
    </div>
  </div>
</div>