<mat-card class="book-card">
  <div class="cover-wrapper">
          <div class="isAvailable" *ngIf="book.status !== 'available'"><span>{{book.status.replace("_", " ")}}</span></div>
    <img
      [src]="optimizeImage(book.cover_url || '') || optimizeImage(DEFAULT_COVER)"
      alt="{{ book.name }}"
      class="paper-img"
    />
  </div>

  <div class="book-info">
    <h3 class="book-title">{{ book.name }}</h3>
    <p class="book-author">{{ book.author_name }}</p>

    <p
      class="book-genre"
      *ngIf="book.genre?.length; else emptyGenre"
    >
      {{ book.genre }}
    </p>
    <ng-template #emptyGenre>
      <p class="book-genre">&nbsp;</p>
    </ng-template>

    <p
      class="book-maturity"
      [ngClass]="{ mature: book.maturity === 'MATURE' }"
    >
      {{ book.maturity || ' ' }}
      
    </p>
  </div>

  <p class="book-price" *ngIf="book.status == 'available'">{{book.priceAmount}}</p>

  <button mat-raised-button color="primary" class="buy-button" (click)="goToBookPage()">
    Details
  </button>
</mat-card>
