<ng-container *ngIf="settings$ | async as settings">
  <header class="header" [class.dark]="settings.theme">

    <!-- Grupo 1: Ícone home -->
    <div class="header-group">
      <button class="btn-flat" routerLink="/">
        <img
          [src]="!settings.theme ? 'assets/homeDarkIcon.png' : 'assets/homeLightIcon.png'"
          alt="Home"
          class="home-icon"
        />
      </button>
    </div>

    <!-- Grupo 2: Navegação central -->
    <div class="header-group middle-group">
      <button class="btn-flat" routerLink="/store">
        <mat-icon>shopping_cart</mat-icon>
        <span>Store</span>
      </button>

      <button class="btn-flat" routerLink="/library">
        <mat-icon>library_books</mat-icon>
        <span>Biblioteca</span>
      </button>
    </div>

    <!-- Grupo 3: Ações -->
    <div class="header-group">
      <button class="btn-flat" (click)="toggleTheme(settings)">
        <mat-icon>
          {{ settings.theme ? 'contrast' : 'brightness_6' }}
        </mat-icon>
        <span>Modo</span>
      </button>

      <button class="btn-flat" (click)="shareWorld()">
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>

      <div class="user-icon">👤</div>
    </div>

  </header>
</ng-container>
