<h2 mat-dialog-title>create Event</h2>
<mat-dialog-content>
  <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
    <label for="Name">event Name: </label>
    <input id="Name" type="text" formControlName="name" />
    
    <label for="description">event Description: </label>
    <input id="description" type="text" formControlName="description" />
    
    <br>
   
    
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">Ok</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
