<div class="modal">

  <div class="header" >
    <h2>Create Timeline</h2>

    <div class="headerButtons">

      <strong class="info"
      [matTooltipPosition]="'above'"
      matTooltip="A timeline represents a time interval or event within the narrative map, where chapters and storylines are organized chronologically."
      aria-label="Button that shows a black tooltip describing a timeline"
      >!</strong>
      <strong mat-dialog-close class="close"
      
      [matTooltipPosition]="'above'"
      matTooltip="Close Modal"
      aria-label="Button that shows a black tooltip describing a timeline">x</strong>

    </div>
  </div>

  <div class="body">
    <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
      <div class="group">      
        <mat-form-field style="width: 100%;">
          <mat-label for="name">name</mat-label>
          <input matInput type="text" id="Name" type="name" formControlName="name" required="true" >
        </mat-form-field>

      </div>

      <div class="group">      

        <mat-form-field style="width: 100%;" >
          <mat-label for="description">description</mat-label>
          <textarea matInput id="description" type="description" formControlName="description" required="false"></textarea>
        </mat-form-field>

      </div>


  
  
  
  <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">Ok</button>
    </mat-dialog-actions>
  </form>
</div>

</div>