<div class="modal">


<div class="header" >
  <h2>  chose the date range  </h2>

  <div class="headerButtons">

    <app-paper-info></app-paper-info>
    <strong mat-dialog-close class="close"
    [matTooltipPosition]="'above'"
    matTooltip="Close Modal"
    aria-label="Button that shows a black tooltip describing a timeline">x</strong>

  </div>
</div>
<mat-dialog-content>


  chose the date range

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    @if (range.controls.start.hasError('matStartDateInvalid')) {
      <mat-error>Invalid start date</mat-error>
    }
    @if (range.controls.end.hasError('matEndDateInvalid')) {
      <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>
  
</mat-dialog-content>
<mat-dialog-content>
  <!-- <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card> -->
  <p>Selected date: {{selected}}</p>
  

</mat-dialog-content>

</div>