<div class="modal">


<div class="header" >
  <h2>  chose the date range  </h2>

  <div class="headerButtons">


    <strong mat-dialog-close class="close"
    [matTooltipPosition]="'above'"
    matTooltip="Close Modal"
    aria-label="Button that shows a black tooltip describing a timeline">x</strong>

  </div>
</div>
<mat-dialog-content>




  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
  <!-- <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card> -->
  <p>Selected date: {{selected}}</p>
  

</mat-dialog-content>

</div>