<!-- <h2 mat-dialog-title>Subway Settings</h2>
<mat-dialog-content> -->
  <form [formGroup]="worldForm" (ngSubmit)="onSubmit()" class="settingsForm">
    <div>
      <label for="chapter_names">Display chapter names </label>
      <input type="checkbox" id="chapter_names" name="chapter_names"  formControlName="chapter_names"  />
    </div>
   
    <div>

      <label for="display_table_chapters">Display time/story line chapters </label>
      <input type="checkbox" id="display_table_chapters" name="display_table_chapters"  formControlName="display_table_chapters"  />
    </div>
   
    <div>

      <label for="timeline_update_chapter">update timeline updates chapters </label>
      <input type="checkbox" id="timeline_update_chapter" name="timeline_update_chapter"  formControlName="timeline_update_chapter"  />
    </div>
   <div>
     <label for="storyline_update_chapter">update Storyline updates chapters </label>
     <input type="checkbox" id="storyline_update_chapter" name="storyline_update_chapter"  formControlName="storyline_update_chapter"  />
    </div>
    
    <div>

      <label for="group_connection_update_chapter">Group Connection updates chapters </label>
      <input type="checkbox" id="group_connection_update_chapter" name="group_connection_update_chapter"  formControlName="group_connection_update_chapter"  />
      
    </div>
  
    <p >

      <button mat-button cdkFocusInitial type="submit">Ok</button>
    </p>
  </form>
<!-- </mat-dialog-content> -->
