<div class="modal">
  <div class="header" >
    <h2>Update group Connection</h2>

    <div class="headerButtons">


      <app-connectionGroup-info></app-connectionGroup-info>
      <strong mat-dialog-close class="close"
      
      [matTooltipPosition]="'above'"
      matTooltip="Close Modal"
      aria-label="Button that shows a black tooltip describing a timeline">x</strong>

    </div>
  </div>
  <div class="body">

    <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
      <div class="group">      
        <mat-form-field style="width: 100%;" >
          <mat-label for="name">name</mat-label>
          <input matInput type="text" required id="name" type="Name" formControlName="name" >
        </mat-form-field>

      </div>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Color</span>
            <strong class="info"
            [matTooltipPosition]="'above'"
            matTooltip="Group colors for connections serve to visually identify and distinguish different thematic or narrative relationships between chapters, making it easier to track and analyze the interconnected elements within the story."
            aria-label="Button that shows a black tooltip describing a timeline"
            >!</strong>
            <span [ngStyle]="chapterBackgroundColor(data.color)" class="paperColor" style="margin-left: 15px;"></span>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="accordion-info">
          <div id="swatch" style="width: 100%;">

            <label for="color">group color: </label>
            <input id="color" type="color" formControlName="color" id="color"  name="color" style="width: 100%;"/>
            <div class="val">
              <h2>{{this.worldForm.value.color}}</h2>
            </div>
              </div>
            </div>



      </mat-expansion-panel>

      
      
      <mat-dialog-actions>
        <button class="submitButton neumorphic-button" [disabled]="!worldForm.valid || (Showloading | async)" mat-button  cdkFocusInitial type="submit">
          
          <div>
                          <mat-icon [ngStyle]="{'color': (!worldForm.valid || (Showloading | async)) ? 'gray' : 'green'}"> {{(!worldForm.valid || (Showloading | async))? 'block': 'task_alt'}}</mat-icon>

          </div>
        </button>
        <button class="submitButton neumorphic-button" [disabled]="!worldForm.valid || Showloading" mat-button (click)="deleteGroupConnection()" >
  
          <div>
            <mat-icon style="color: orangered;  font-size: 28px;">delete</mat-icon>
          </div>
        </button>
      </mat-dialog-actions>
    </form>

    
</div>
</div>