<h2 mat-dialog-title>Update chapter</h2>
<mat-dialog-content>
  <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
    <label for="Name">Chapter Name: </label>
    <input id="Name" type="text" formControlName="name" />
    
    <label for="description">Chapter Description: </label>
    <input id="description" type="text" formControlName="description" />
    
    <label for="order">Chapter order: </label>
    <input id="order" type="number" formControlName="order" />
    
    <label for="papper">Choose a papper to save your chapter: </label>
    <select id="papper" formControlName="papper_id">
      <option value="">Choose a papper</option>
      <option *ngFor="let papper of pappers$ | async" [value]="papper.id">
        {{ papper.name }} - {{ papper.description }}
      </option>
    </select>
    <select id="timeline" formControlName="timeline_id" (change)="getTimeLineDetails($event)">
      <option value="">Choose a timeline</option>
      <option *ngFor="let timeline of timelines$ | async" [value]="timeline.id">
        {{ timeline.name }}
      </option>
    </select>

    <br>
    <mat-slider
    *ngIf="selectedTl.range"
    min="1"
    
    id="range"
    max={{selectedTl.range}}
    step="1"
    showTickMarks
    discrete
    [displayWith]="formatLabel"
    >
    <input matSliderThumb formControlName="range"/>
  </mat-slider>
  
  <br>
    <select id="storyline" formControlName="storyline_id">
      <option value="">Choose a storyline</option>
      <option *ngFor="let storyline of storylines$ | async" [value]="storyline.id">
        {{ storyline.name }}
      </option>
    </select>
    
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">Ok</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
