<h2 mat-dialog-title>update Connection group</h2>
<mat-dialog-content>
  <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
    <div>

      <label for="name">name: </label>
      <input id="name" type="name" formControlName="name" />
      <label for="description">description: </label>
      <input id="description" type="description" formControlName="description" />
      
      
      <label for="color">color: </label>
      <input id="color" type="color" formControlName="color" />

    </div>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">Ok</button>
    </mat-dialog-actions>
</form>

</mat-dialog-content>