<h2 mat-dialog-title>Update paper</h2>
<mat-dialog-content>
  <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
    <label for="Name">paper Name: </label>
    <input id="Name" type="text" formControlName="name" />
    
    <label for="description">paper Description: </label>
    <input id="description" type="text" formControlName="description" />
    
    <label for="order">paper order: </label>
    <input id="order" type="number" formControlName="order" />
    
    <div id="swatch">

    <label for="color">paper color: </label>
    <input id="color" type="color" formControlName="color" id="color"  name="color" />
    <div class="info">
      <h2>{{this.worldForm.value.color}}</h2>
    </div>
      </div>

    
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">Ok</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
