<div class="modal">
  <div class="header" >
    <h2>Update chapter</h2>

    <div class="headerButtons">


      <app-chapter-info></app-chapter-info>
      <strong mat-dialog-close class="close"
      
      [matTooltipPosition]="'above'"
      matTooltip="Close Modal"
      aria-label="Button that shows a black tooltip describing a timeline">x</strong>

    </div>
  </div>

  <div class="body">
    <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">



      <div class="group" style="width: 100%;">      
        <mat-form-field  >
          <mat-label for="groupConnection">Select groupConnection</mat-label>
          <mat-select id="groupConnection" formControlName="groupConnection" required>
  
            <mat-option  [value]=""> 
            <span [ngStyle]="chapterBackgroundColor('black')" class="paperColor"></span>  none
            </mat-option>
            <mat-option *ngFor="let c of gc" [value]="c.id">
              <span [ngStyle]="chapterBackgroundColor(c.color)" class="paperColor"></span>  {{ c.name }} 
            </mat-option>
            
  
          </mat-select>
        </mat-form-field>
      </div>
    <div>
      
      <!-- <label for="groupConnection">Choose a group: </label>
      <select name="groupConnection" formControlName="groupConnection">
        <option value="">Choose a group</option>
        <option *ngFor="let c of gc" [value]="c.id">
          {{ c.name }} 
        </option>
      </select> -->
    </div>
    <mat-dialog-actions>
      <button class="submitButton neumorphic-button" [disabled]="!worldForm.valid || (Showloading | async)" mat-button  cdkFocusInitial type="submit">

        <div>
                        <mat-icon [ngStyle]="{'color': (!worldForm.valid || (Showloading | async)) ? 'gray' : 'green'}"> {{(!worldForm.valid || (Showloading | async))? 'block': 'task_alt'}}</mat-icon>

        </div>
      </button>
    </mat-dialog-actions>
  </form>

</div>
</div>