
<div
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="dataSource.data"
  class="drop-group-list"
>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8 paperTable"
    cdkDropListGroup
  >

    <!-- Coluna Nome -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div>

          <span class="tableHeader">
            
            <mat-icon class="orderSearch" cdkDragHandle (click)="callInputSearch('name')">search</mat-icon>
            <span mat-sort-header (click)="sortgroups('name')">Name</span>
          </span>
          <input type="text" *ngIf="searchInputs.name" placeholder="search name" (input)="searchgroup('name')"  [(ngModel)]="nameSearchValue">
        </div>

      </th>
      <td mat-cell *matCellDef="let group" [ngStyle]="BackgroundColor(group)" class="transition" (mouseenter)="hoverGroup(group, true)" (mouseleave)="hoverGroup(group, false)">
        <span class="nameChips" style="color: black;">
          
          {{ group.name }}
        </span>
      </td>
    </ng-container>

    <!-- Coluna Idade -->
  
    <ng-container matColumnDef="update">
      
      <th mat-header-cell *matHeaderCellDef>
        <div>
          <span class="tableHeader">
            update
          </span>
        </div>
           </th>
      <td mat-cell *matCellDef="let group" [ngStyle]="BackgroundColor(group)" class="transition" (mouseenter)="hoverGroup(group, true)" (mouseleave)="hoverGroup(group, false)">
        <button mat-flat-button (click)="updateGroup(group)" class="editButton">
          
          <mat-icon style="margin: 0px;" [style]="{color: group.color}">edit</mat-icon>

        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      
      <th mat-header-cell *matHeaderCellDef>
        <div>
          <span class="tableHeader">
            description
          </span>
        </div>
           </th>
      <td mat-cell *matCellDef="let group" [ngStyle]="BackgroundColor(group)" class="transition" (mouseenter)="hoverGroup(group, true)" (mouseleave)="hoverGroup(group, false)">
        <button mat-flat-button (click)="opengroupDescription(group)" class="editButton">
          
          <mat-icon style="margin: 0px;" [style]="{color: group.color}">description</mat-icon>

        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragData]="row"
      cdkDragBoundary=".drop-group-list"

    ></tr>
  </table>
</div>
