<div class="dialog" [ngClass]="isDarkMode ? 'dark' : 'light'">
  <button class="close-btn" (click)="close()">×</button>

  <!-- <img [src]="chapter.cover" alt="Capa do Livro" class="cover"> -->

  <h2>{{ chapter.title }} <mat-icon *ngIf="chapter.favorite" matTooltip="favorite" style="color: gold;">star</mat-icon>
  </h2>
  <p class="book">{{ paper.name }} </p>

  <nav class="tabs">
    <button *ngFor="let tab of tabs" [class.active]="selectedTab === tab" (click)="selectedTab = tab">
      {{ tab | titlecase }}
    </button>
  </nav>

  <div class="tab-content">
    <div *ngIf="selectedTab === 'resumo'">
      <p>{{ chapter.description }}</p>
    </div>

    <div *ngIf="selectedTab === 'timeline'">
      <p><strong>Timeline:</strong> {{ timeline.name }}</p>
      <p>{{ timeline.description }}</p>
    </div>

    <div *ngIf="selectedTab === 'notes'">
      <ul>
        <ng-container *ngFor="let ann of chapter.annotations">
          <li *ngIf="ann.span_text?.trim() && ann.note?.trim()">
            <p class="spanText">{{ ann.span_text }}</p>
            <p class="notes">{{ ann.note }}</p>
          </li>
        </ng-container>
      </ul>


    </div>

    <div *ngIf="selectedTab === 'storyline'">
      <p><strong>storyline:</strong> {{ storyline.name }}</p>
      <p>{{ storyline.description }}</p>
    </div>
  </div>

  <button mat-button class=" open-button">Read Chapter</button>
</div>